body{
    height: 100vh;
}
.all-container{
    height: 100vh;
}
.my-context{
    height: 100vh;
}
.introduce{
    margin: 50px 15px 10px 15px;
    background-color: gray;
    text-align: center;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
}
.headname{
    color: white;
    font-family: "微软雅黑";
    /* font-style: italic; */
    font-size: 1.2rem;
}
.footnav{
    font-family: serif;
    font-style: italic;
    color: grey;
    text-align: center;
}